<div>
    <input
        placeholder="Enter New Task"
        [(ngModel)]="newTaskTitle"
    >
    <button
        type="button"
        (click)="addTask()"
    >
        Add Task
    </button>
    <br>
    <br>

</div>
<div>
    <div
        class="badge-cont"
        matBadge="{{taskCount}}"
        matBadgeOverlap="false"
        class="demo-section"
    >
        Number of Tasks:
    </div>
    <div
        class="badge-cont"
        matBadge="{{taskCountCompleted}}"
        matBadgeOverlap="false"
        class="demo-section"
    >
        Tasks Completed:
    </div>
</div>
