<div>
    <input
        placeholder="Enter New Task"
        [(ngModel)]="newTaskTitle"
    >
    <button
        type="button"
        (click)="addTask()"
    >
        Add Task
    </button>
    <br>
    <br>

</div>
<div>
    <div
        matBadge="{{taskCount}}"
        matBadgeOverlap="false"
        class="demo-section"
    >
        Number of Tasks
    </div>
    <div
        matBadge="{{taskCountCompleted}}"
        matBadgeOverlap="false"
        class="demo-section"
    >
        Completed Tasks
    </div>

</div>
