<div>
    <ul>

      @for (task of tasks; track task.id; let i = $index;) {
        <li [appTaskHighlight]="task.completed">

          ID: {{task.id}} (index {{i}}) - {{task.title}} - {{ task.completed | taskStatus }} <!-- Display the task title, use taskStatus -->

          @if (!task.completed) {
            <button type="button" (click)="openDialog('0ms', '0ms',task.id,'completeTask')">Complete</button>
          }
          <button class="delete" type="button" (click)="openDialog('0ms', '0ms',task.id,'deleteTask')">Delete</button>
        </li>

      }
    </ul>
</div>
